body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  direction: ltr !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.4); 
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.profile-icon {
  /* margin-left: 55px;
  margin-right: 55px; */
  position: relative;
  cursor: pointer;
}

.profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0px 15px 0px 0px ;

}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu p {
  margin: 15px;
  font-weight: bold;
  text-align: center;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.dropdown-menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.user-name {
  font-size: 16px;
} 
.language-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}

.language-icon {
  font-size: 24px;
  color: #fff;
  margin: 0px 30px 0px 0px ;
}

.language-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: black;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.language-dropdown ul {

  list-style: none;
  padding: 0;
  margin: 0;
}

.language-dropdown ul li {
  text-align: center;
  width: 90px;
  cursor: pointer;
  align-items: center;
}
.language-dropdown ul li img {
  width: 20px;
  position: absolute;
  padding: 2px ;
}

.language-dropdown ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


